body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.bg_container {
    background: #fff;
}

.content_container {
    width: 75%;
    margin: 0 auto;
}

.nav_bar {
    padding: 0;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav_bar a {
    text-decoration: none;
    font-size: 1.125rem;
    font-family: Gilroy-Bold;
    line-height: 1.375rem;
}

.nav_bar a:visited {
    margin: 2rem 0;
    color: #828282;
}

.nav_bar a:hover {
    color: #070707;
    transition: color 1s;
}

.info_intro {
    border-top: 1px solid #828282;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 2.9587rem;
    width: min-content;
    font-family: Gilroy-Bold;
}

.name p {
    margin: 2.480625rem 0;
    color: #070707;
    line-height: 3.6875rem;
}

.work {
    padding-top: 3rem;
    padding-right: 1rem;
    width: 10rem;
    font-size: 1.125rem;
    color: #070707;
    line-height: 1.375rem;
    font-family: Gilroy-Medium;
}

.language {
    padding-top: 3rem;
    transform: rotate(-90deg);
    font-family: Gilroy-Bold;
}

.lang_btn {
    padding: 0;
    font-size: 1rem;
    border: none;
    background: none;
    font-family: Gilroy-Bold;
    color: #828282;
}

.lang_btn:hover {
    color: #070707;
    transition: color 1s;
    cursor: pointer;
}

.photo {
    padding: 19rem 0;
    background-image: url(../image/BSPP2266.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
}